[submodule "litex/soc/software/compiler_rt"]
	path = litex-core/litex/soc/software/compiler_rt
	url = https://git.llvm.org/git/compiler-rt
[submodule "litex/build/sim/core/modules/ethernet/tapcfg"]
	path = litex-core/litex/build/sim/core/modules/ethernet/tapcfg
	url = https://github.com/enjoy-digital/tapcfg
